*, *::after, *::before {
    box-sizing:border-box;  
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
button:not([disabled]) {
    cursor:pointer;
}


:root {
    --main-black: #131313;
    --main-white: #fff;
}
::selection {
    color: var(--main-white);
    background: var(--main-black);
}
* {margin: 0; font-family: 'DM Sans', sans-serif; color: var(--main-black);}
p {line-height: 170%;}








header {
    width: 100%;
    padding: 4.5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;

    transition: .4s;
}
#breadcrumbs {
    padding: 10rem 6rem 3rem 6rem;
    display: flex;
    justify-content: space-between;
}
#breadcrumbs button {
    padding: 1rem;
    border: .5px solid var(--main-black);
    border-radius: .25rem;

    text-transform: capitalize;
    background-color: var(--main-white);

    position: relative;
    overflow: hidden;
    transition: .5s ease;
}
#breadcrumbs button a {text-decoration: none; transition: .2s ease;}
#breadcrumbs button::after {
    content: "";

    position: absolute;
    top: 0;
    left: -100%;

    height: 100%;
    width: 100%;
    border-radius: .25rem;
    background-color: var(--main-black);
    transition: .3s ease;
}
#breadcrumbs button:hover a {color: var(--main-white);z-index: 2;}
#breadcrumbs button:hover {z-index: 2;}
#breadcrumbs button:hover::after {left: 0; z-index: -2;}





#projectInfo {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 15vh 0vw 20vh 0vw;
}
#projectName {font-size: 6rem; margin: .5rem 0rem 1rem 0rem;}
#projectExp {max-width: 90%; margin: 0 auto;}





main>img {width: 100%;}








.contentContainer {
    width: 100%;
    padding: 10rem 6rem;
    background-color: var(--main-white);


    display: grid;
    place-items: center;
}





.mockup div {
    width: 100%;
    border-radius: 1rem;
    background-color: var(--main-black);
    padding: 4rem;
    margin: 1rem auto;

    display: grid;
    place-items: center;
}
.mockup div img {width: 100%; border-radius: 2rem;}





.grid--parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    padding: 10rem 7rem;
    background-color: #fff;
}
.about {padding-bottom: 5rem;}
.about div {padding: 0rem 2rem;}
.about p {max-width: 40vw;}





.colors {
    margin: 0 auto;
    padding-left: 15rem;
    padding-right: 15rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: #f9f9f9;
}
.color {
    width: 100%;
    height: 45vh;
    border-radius: 2rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color p:last-of-type {font-size: 3rem;}
#SD-cbase {background-color: #f6f9fc; grid-area: 1 / 1 / 2 / 3;}
#SD-c1 {background-color: #ff7f50; grid-area: 1 / 2 / 2 / 4;}
#SD-c2 {background-color: #98ff98; grid-area: 1 / 3 / 2 / 5;}
#SD-c3 {background-color: #f9f9fa; grid-area: 1 / 4 / 2 / 6;}






.typography {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: #f9f9f9;
}
.typography p {font-family: 'Inter', sans-serif;}
.typography>div {width: 100%;}
.typography>div:first-of-type {
    grid-area: 1 / 1 / 2 / 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 0px;
    place-items: center;
}
.typography>div:first-of-type>p {font-size: 12rem;}


.typography>div:last-of-type {
    grid-area: 2 / 1 / 3 / 2;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 0px;
    place-items: center;
}
.typography>div:last-of-type p:first-of-type {font-size: 18rem;}
.typography>div:last-of-type p:last-of-type {font-size: 3rem;}
.typography>div:first-of-type>div p:nth-of-type(1) {font-size: 48px; font-weight: bold; line-height: 80px;}
.typography>div:first-of-type>div p:nth-of-type(2) {font-size: 32px; font-weight: bold; line-height: 80px;}
.typography>div:first-of-type>div p:nth-of-type(3) {font-size: 28px; font-weight: bold; line-height: 80px;}
.typography>div:first-of-type>div p:nth-of-type(4) {font-size: 16px; font-weight: normal; line-height: 80px;}





.others ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;

    place-items: center;
}
.others ol li img {
    width: 100%;
    border-radius: .5rem;
}
.others ol li div {
    display: flex;
    justify-content: space-between;
    padding: 0rem .5rem;
}







footer>div:last-of-type {
    font-size: .75rem;
    padding: 1.5rem;
    background-color: #fff;
    text-align: center;
}






@media only screen and (max-width: 480px) {
    header {padding: 2.5rem 1.25rem; width: 100vw;}
    header p {font-size: .9rem;}




    .grid--parent {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(auto, auto); /* Allow rows to adjust based on content */
        grid-auto-flow: row dense;
        grid-row-gap: 48px;
        padding: 10rem 3rem 2rem 3rem;
    }



    .about div {padding: 0;}
    .about p {max-width: 100%;}





    #projectName {font-size: 2rem;}



    #breadcrumbs {padding: 8rem 2rem 0rem 2rem;}



    .contentContainer {padding: 4rem .75rem;}
    .mockup div {padding: .5rem;}
    .mockup div img {border-radius: .5rem;}


    
    .information p {font-size: 1rem;}



    .color {padding: 1.5rem 1rem;}



    .typography {text-align: center;}
    .typography>div:first-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 16px;
    }
    .typography>div:last-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 16px;
    }
    .typography>div:first-of-type>p {font-size: 7rem;}
    .typography>div:last-of-type p:first-of-type {font-size: 8rem;}
    .typography>div:last-of-type p:last-of-type {font-size: 1.75rem;}



    .others ol {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 32px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    header {padding: 3.5rem 2rem; width: 100vw;}
    #projectName {font-size: 3rem;}




    .grid--parent {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(auto, auto); /* Allow rows to adjust based on content */
        grid-auto-flow: row dense;
        grid-row-gap: 48px;

        padding: 10rem 4rem 2rem 4rem;
    }



    .about div {padding: 0;}
    .about p {max-width: 100%;}





    #breadcrumbs {padding: 10rem 4rem 0rem 4rem;}



    .contentContainer {padding: 4rem 1rem;}
    .mockup div {padding: .5rem;}
    .mockup div img {border-radius: .5rem;}



    .information p {font-size: 1rem;}



    .color {padding: 1.5rem 1rem;}



    .typography {text-align: center;}
    .typography>div:first-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 16px;
    }
    .typography>div:last-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 16px;
    }
    .typography>div:first-of-type>p {font-size: 7rem;}
    .typography>div:last-of-type p:first-of-type {font-size: 8rem;}
    .typography>div:last-of-type p:last-of-type {font-size: 1.75rem;}



    .others ol {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 32px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #breadcrumbs {padding: 10rem 3rem 3rem 3rem;}



    .about {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        padding: 10rem 4rem 2rem 4rem;
    }
    .about p {max-width: 100%;}



    .contentContainer {padding: 6rem 3rem;}
    .mockup div {padding: 2rem;}



    .information p {font-size: 1.5rem;}


    .typography {text-align: center;}
    .typography>div:first-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 24px;
    }
    .typography>div:last-of-type {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 24px;
    }
    .typography>div:first-of-type>p {font-size: 7rem;}
    .typography>div:last-of-type p:first-of-type {font-size: 8rem;}
    .typography>div:last-of-type p:last-of-type {font-size: 1.75rem;}



    .others ol {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 32px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .grid--parent {
        padding: 10rem 4rem;
    }
    .about {padding-bottom: 0;}
    .about p {max-width: 90vw;}



    .contentContainer {padding: 8rem 4rem;}


    .information p {font-size: 1.5rem;}

    .typography>div:first-of-type>p {font-size: 7rem;}
    .typography>div:last-of-type p:first-of-type {font-size: 8rem;}
    .typography>div:last-of-type p:last-of-type {font-size: 1.75rem;}
}